@{
    ViewData["Title"] = "Home Page";
    
}
@model IndexModel


		<h1>“Oh wait, I’ve heard that voice before”</h1>
		<form class="searchbar" method="get">			
				<input type="text" asp-for="SearchedMovie" placeholder="Let's start with the title" />
				<button class="btn-search" type="submit" asp-action="GetMovies">Search</button>	
		</form>
	

