
@{
    ViewData["Title"] = "Search Results";
}


<h1>@ViewData["Title"]</h1>
<ul class="results-list">
    @foreach (var movie in ViewData["MoviesList"] as IList<MovieModel>)
    {
		<li class="list-item">
            <a href="/Home/GetMovieInformation?pageId=@movie.PageID">@movie.Title</a>
            </li>
    }
</ul>