html {
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    h1 {
        font-size: 44px;
    }

    .searchbar {
        width: 60%;
        min-width: 590px;
    }

    input {
        font-size: 34px;
        margin: 0px 10px 0px 15px;
    }

    .btn-search {
        font-size: 28px;
        padding: 10px 30px 10px 10px;
        margin-right: 1.7vw;
        border: none;
        border-left: solid 2px black;
    }

    .list-item {
        font-size: 22px;
    }
}

@media(max-width: 767px) {
    html {
        font-size: 14px;
    }

    h1 {
        font-size: 30px;
    }

    .searchbar {
        width: 100%;
    }

    input {
        font-size: 20px;
        margin: 0px 5px;
    }

    .btn-search {
        font-size: 17px;
        padding: 10px 10px;
        margin-right: 3vw;
        border: none;
        border-left: solid 1px black;
    }

    .container {
        padding: 0px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

header {
    grid-column: 1/span 3;
    grid-row: 1;
    height: 10%;
    display: grid;
    width: 100%;
}

body {
    grid-column: 1/ span 3;
    grid-row: 1/ span 3;
    height: 100%;
    background-color: #E9B249;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
    display: grid;
}

.container {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-self: center;
    height: 100%;
    align-items: start;
}

h1 {
    color: #000;
    text-align: center;
}

.pb-3 {
    width: 100%;
    height: 85%;
}

.searchbar {
    border-radius: 75px;
    background: #EDEDED;
    padding: 10px 0px 10px 10px;
    margin: auto;
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
}

input {
    color: rgba(0, 0, 0, 0.70);
    background: #EDEDED;
    border: none;
    outline: none;
}

.btn-search {
    color: rgba(0, 0, 0, 0.75);
    background: #EDEDED;
    height: 100%;
}

.results-list {
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 2rem;
    height: 75%;
    padding: 0px 0px;
}

.list-item {
    list-style-type: none;
    width: 96%;
    height: 15%;
    margin: 10px 20px;
    padding: 20px 0px 20px 20px;
    background: #ECD3A4;
    border-radius: 10px;
}

#movies {
    height: 90%;
}

.description {
    padding-left: 20px;
}

.actors-list {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 95%;
}

    .actors-list li {
        list-style-type: none;
        width: 96%;
        height: 20%;
        margin: 10px 20px;
        padding: 20px 0px 20px 20px;
        background: #ECD3A4;
        border-radius: 10px;
        font-size: 15px;
    }
